<p>
    <a href="{% url 'learning_logs:index' %}">B23计科1学习论坛-首页</a> - 
    <!-- index与learning_logs/urls.py中的index匹配，也就是首页地址 -->
    <a href="{% url 'learning_logs:topics' %}">话题集锦</a> - 
      {% if user.is_authenticated %}
        你好，{{ user.username }}
      {% else %}
        <a href="{% url 'accounts:register' %}">注册</a> - 
        <a href="{% url 'accounts:login' %}">登陆</a>
      {% endif %}
</p>

{% block content %}{% endblock content %}

{% if user.is_authenticated %}
  <hr />
  <form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button>退出登陆</button>
  </form>
{% endif %}