{% extends 'learning_logs/base.html' %}

{% block content %}

    <p>全部话题</p>
    
    <ul>
        {% for topic in topics %}
        <!-- for循环标签 -->
        <li>
          <a href="{% url 'learning_logs:topic' topic.id %}">
            {{ topic.text }}</a>
        </li>
        {% empty %}
        <!-- 列表为空的情况 -->
        <li>还没有创建话题哟~</li>
        {% endfor %}
        <!-- 结束for循环 -->
    </ul>
    
    <a href="{% url 'learning_logs:new_topic' %}">来点新话题</a>

{% endblock content %}